/*
  CSS code needed to style the site
*/
html,
body {
  height: 100%;
  background: rgba(40,40,40,1);
  background: -moz-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,40,40,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#000000', GradientType=0 );
  /* The html and body elements cannot have any padding or margin. */
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#body {
  padding-top: 50px;
}

@media (max-width: 979px) {
	#body {
	  padding-top: 0px;
	}
	body {
		background-position: center 250px;
	}
}	


#push,
#footer {
 height: 60px;
}
#footer {
 background-color: rgba(0,0,0,0.75);
 padding-top: 20px;
}

@media (min-width: 768px) {
	body {
	    background: url("../img/background-minions.png") no-repeat center 175px;
		background-size: 75%;
	}
}

@media (max-width: 980px) {
	body {
		background-position: center 275px;
	}
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	body {
	    background: url("../img/background-minions-50.png") no-repeat center 275px;
	}
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

h1 {
	text-align: center;
	font-size: 3em;
	font-family:Arial;
	color: #c75427;
}

p {
	text-align: center;
	font-size: 1em;
	font-family:Arial;
	color: #c75427;
}

.navbar-inverse .brand {
	font-family: Arial;
	background: -webkit-linear-gradient(top, #e7bba8, #c75427);
	background: linear-gradient(top, #e7bba8, #c75427);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#mc_embed_signup input.email {
	text-align: center;
    display: inline-block;
    float: left;
    clear: left;
   /* max-width: 200px;*/
	margin: 0;
	min-height:40px;
	border: none;
	width: 65%;
	padding-left: 0;
	padding-right: 0;

}

#mc_embed_signup {
margin-left: auto;
margin-right: auto;
width: 280px;
}

#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 0}

#mc_embed_signup input.email, #mc_embed_signup input.button {-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}

#mc_embed_signup input.button {  
	display: inline-block;
	width: auto;
	min-height:40px;
	border: none;

}

